:local(.applications) {
  .MuiDataGrid-root,
  .MuiDataGrid-cell,
  .MuiDataGrid-cell:focus,
  .MuiDataGrid-cell:focus-within,
  .MuiDataGrid-columnHeader:focus,
  .MuiDataGrid-columnHeader:focus-within,
  .MuiDataGrid-columnHeaders,
  .MuiDataGrid-footerContainer {
    border: 0;
    outline: 0;
  }

  .even {
    background-color: #f8f8f8;
  }

  .span {
    background-color: #f2f2f2;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

  /* come on */
  .MuiDataGrid-cell > div {
    width: 100%;
  }

  .MuiDataGrid-cell[data-field="rank"],
  .MuiDataGrid-columnHeader[data-field="rank"] {
    padding: 0;
    align-items: start;
  }

  .MuiDataGrid-row > .MuiDataGrid-cell[data-field="timeline"] {
    overflow: visible;

    /* ref div, otherwise pointless */
    div {
      height: 36px;
      position: relative;

      svg {
        position: absolute;
        top: 16px;
      }

      .range-picker {
        position: absolute;
        top: 8px;
        left: 200px;
        background-color: #f2f2f2;
        width: 40px;
        height: 28px;
        border-top: 1px solid #d9d9d9;
        border-left: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
      }
    }
  }

  .MuiDataGrid-row:not(.Mui-selected) .range-picker {
    display: none;
  }

  .MuiCardHeader-content {
    flex: 0 1 auto;
    margin-right: 20px;
  }

  .MuiCardHeader-action {
    flex: 1;
    display: flex;
    /* FIXME stop jumping, or rather instead of ButtonGroup jumping to the left have #legend-toggle jump to the right */
    align-items: baseline;

    #legend-toggle {
      margin-left: auto;
      color: #2e77d0;
    }
  }

  .MuiDialog-paper {
    max-width: 800px;
  }

  .MuiFormGroup-row {
    align-items: baseline;
  }
}
