@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v80/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-light.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-book.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-medium.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-bold.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-black.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: Circular;
  font-weight: 400;
  background-color: #fafafa;
}

@media print {
  body {
    background-color: #fff;
  }
}

body::backdrop {
  background-color: #fafafa;
}

.viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}

main {
  height: 100vh;
  flex: 1;
  overflow: auto;
}

main .padding {
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  background-color: #f8f8f8;
}

@media (min-width: 600px) {
  main .padding {
    padding-left: 24px;
    padding-right: 24px;
  }
}

strong,
b {
  font-weight: 700;
}

.titlebar {
  display: flex;
  align-items: baseline;
}

.titlebar h2 {
  margin-right: auto;
}
