@font-face {
  font-family: "Material Icons";
  src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: LineSeed;
  src: url("/fonts/LINESeedSans_W_Rg.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: LineSeed;
  src: url("/fonts/LINESeedSans_W_Bd.woff2") format("woff2");
  font-weight: bold;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

html,
html .MuiButton-root,
html .MuiDataGrid-root,
html .MuiFormLabel-root,
html .MuiInputBase-root,
html .MuiInputBase-root-MuiInput-root,
html .MuiTypography-root {
  font-family: LineSeed, sans-serif, Apple Color Emoji;
}

html .MuiCardHeader-title {
  font-weight: 500;
  font-size: 1.25rem;
}

html .MuiDataGrid-columnHeaderTitle {
  color: #cccccc;
}

html .MuiDataGrid-columnHeader--sorted .MuiDataGrid-columnHeaderTitle {
  color: #757575;
}

html .MuiDialogContentText-root {
  font-size: 0.875rem;
  color: #000000df;
}

/* https://zellwk.com/blog/hide-content-accessibly/ */
/* .hide-accessibly {
  position: absolute !important;
  opacity: 0;
  pointer-events: none;
} */
.hide-accessibly {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

body {
  margin: 0;
  background-color: #fafafa;
}

@media print {
  body {
    background-color: #fff;
  }
}

body::backdrop {
  background-color: #fafafa;
}

.viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}

main {
  height: 100vh;
  flex: 1;
  overflow: auto;
  position: relative;
}

main .padding {
  padding-top: 24px;
  padding-left: 164px;
  padding-right: 16px;
  padding-bottom: 24px;
  background-color: #f8f8f8;
}

@media (min-width: 600px) {
  main .padding {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.titlebar {
  display: flex;
  align-items: baseline;
}

.titlebar h2 {
  margin-right: auto;
}
