.sidebar {
  min-width: 48px;
  height: 100vh;
  background: #171717;
  position: sticky;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;

  a {
    color: #b5b5b5;
    cursor: pointer;
    min-width: 48px;
    min-height: 48px;
  }

  hr {
    width: 40%;
    border: none;
    height: 1px;
    background: #383838;
  }

  hr:last-of-type {
    margin-top: auto;
  }
}
