.applications .MuiDataGrid-root,
.applications .MuiDataGrid-cell,
.applications .MuiDataGrid-cell:focus,
.applications .MuiDataGrid-cell:focus-within,
.applications .MuiDataGrid-columnHeader:focus,
.applications .MuiDataGrid-columnHeader:focus-within,
.applications .MuiDataGrid-columnHeaders,
.applications .MuiDataGrid-footerContainer {
  border: 0;
  outline: 0;
}

.applications .even {
  background-color: #f8f8f8;
}

.applications .span {
  background-color: #f2f2f2;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.applications .span>.MuiDataGrid-cell {
  align-items: start;
}

/* come on */
.applications .span .MuiDataGrid-cell>div {
  width: 100%;
}

.applications .MuiDataGrid-cell[data-field='rank'],
.applications .MuiDataGrid-columnHeader[data-field='rank'] {
  padding: 0;
}

.range-picker {
  position: absolute;
  top: 3px;
  left: 100px;
  background-color: #f2f2f2;
  width: 40px;
  height: 28px;
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}

#legend {
  font-size: 0.875rem;
  width: 500px;
  padding: 10px;
}

#legend-toggle {
  margin-top: -30px;
  float: right;
  color: #2e77d0;
}

.legend-swatch {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 5px;
}

.color-incoming {
  background-color: rgb(190, 190, 190);
}

.color-ok {
  background-color: #1db855;
}

.color-pending {
  background-color: #4687d6;
}

.color-warning {
  background-color: #f49b20;
}

.color-error {
  background-color: #ca001b;
}
