.applications .MuiDataGrid-root,
.applications .MuiDataGrid-cell,
.applications .MuiDataGrid-cell:focus,
.applications .MuiDataGrid-cell:focus-within,
.applications .MuiDataGrid-columnHeader:focus,
.applications .MuiDataGrid-columnHeader:focus-within,
.applications .MuiDataGrid-columnHeaders,
.applications .MuiDataGrid-footerContainer {
  border: 0;
  outline: 0;
}

.applications .even {
  background-color: #f8f8f8;
}

.applications .span {
  background-color: #f2f2f2;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

/* come on */
.applications .MuiDataGrid-cell > div {
  width: 100%;
}

.applications .MuiDataGrid-cell[data-field="rank"],
.applications .MuiDataGrid-columnHeader[data-field="rank"] {
  padding: 0;
}

.MuiDialog-paper {
  max-width: 800px;
}

.MuiFormGroup-row {
  align-items: baseline;
}

.range-picker {
  position: absolute;
  top: 3px;
  left: 100px;
  background-color: #f2f2f2;
  width: 40px;
  height: 28px;
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}

#legend {
  position: absolute;
  bottom: auto; /* Popover's disableScrollLock={true} doesn't seem to work; I hack the MuiModal-root thing here instead */
}

#legend .MuiPaper-root {
  font-size: 0.875rem;
  width: 580px;
  padding: 10px;
  max-height: none;
}

#legend li {
  padding-top: 0;
  padding-bottom: 0;
}

#legend li ~ p {
  padding-left: 8px;
  padding-right: 8px;
}

#legend .MuiListItemAvatar-root {
  min-width: 0;
}

#legend .MuiListItemButton-root {
  flex: 0;
  padding: 8px 28px 8px 4px;
}

#legend-toggle {
  margin-top: -30px;
  float: right;
  color: #2e77d0;
}

.legend-pin,
.legend-swatch {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 20px;
}

.color-incoming {
  background-color: rgb(190, 190, 190);
}

.color-ok {
  background-color: #1db855;
}

.color-info {
  background-color: #4687d6;
}

.color-warning {
  background-color: #f49b20;
}

.color-error {
  background-color: #ca001b;
}
