/*! CSS Used from: https://fonts.googleapis.com/icon?family=Material+Icons ; media=all */
@media all{
.material-icons{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased;}
}
/*! CSS Used from: Embedded */
.MuiTouchRipple-root-581{top:0;left:0;right:0;bottom:0;z-index:0;overflow:hidden;position:absolute;border-radius:inherit;pointer-events:none;}
/*! CSS Used from: Embedded */
.MuiButtonBase-root-337{color:inherit;border:0;cursor:pointer;margin:0;display:inline-flex;outline:0;padding:0;position:relative;align-items:center;user-select:none;border-radius:0;vertical-align:middle;-moz-appearance:none;justify-content:center;text-decoration:none;background-color:transparent;-webkit-appearance:none;-webkit-tap-highlight-color:transparent;}
.MuiButtonBase-root-337::-moz-focus-inner{border-style:none;}
.MuiButtonBase-root-337.Mui-disabled{cursor:default;pointer-events:none;}
@media print{
.MuiButtonBase-root-337{-webkit-print-color-adjust:exact;}
}
/*! CSS Used from: Embedded */
.MuiButton-root-362{color:rgba(0, 0, 0, 0.87);padding:6px 16px;font-size:0.875rem;min-width:64px;box-sizing:border-box;transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;font-family:Circular;font-weight:500;line-height:1.75;border-radius:4px;text-transform:uppercase;}
.MuiButton-root-362:hover{text-decoration:none;background-color:rgba(0, 0, 0, 0.04);}
@media (hover: none){
.MuiButton-root-362:hover{background-color:transparent;}
}
.MuiButton-label-363{width:100%;display:inherit;align-items:inherit;justify-content:inherit;}
.MuiButton-text-364{padding:6px 16px;}
/*! CSS Used from: Embedded */
.MuiSvgIcon-root-267{fill:currentColor;width:1em;height:1em;display:inline-block;font-size:1.5rem;transition:fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;flex-shrink:0;user-select:none;}
/*! CSS Used from: Embedded */
*,*::before,*::after{box-sizing:inherit;}
/*! CSS Used from: Embedded */
.MuiGrid-container-625{width:100%;display:flex;flex-wrap:wrap;box-sizing:border-box;}
.MuiGrid-item-626{margin:0;box-sizing:border-box;}
.MuiGrid-wrap-xs-nowrap-631{flex-wrap:nowrap;}
.MuiGrid-align-items-xs-center-633{align-items:center;}
.MuiGrid-spacing-xs-2-648{width:calc(100% + 16px);margin:-8px;}
.MuiGrid-spacing-xs-2-648 > .MuiGrid-item-626{padding:8px;}
/*! CSS Used from: Embedded */
.MuiIconButton-root-354{flex:0 0 auto;color:rgba(0, 0, 0, 0.54);padding:12px;overflow:visible;font-size:1.5rem;text-align:center;transition:background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;border-radius:50%;}
.MuiIconButton-root-354:hover{background-color:rgba(0, 0, 0, 0.04);}
.MuiIconButton-root-354.Mui-disabled{color:rgba(0, 0, 0, 0.26);background-color:transparent;}
@media (hover: none){
.MuiIconButton-root-354:hover{background-color:transparent;}
}
.MuiIconButton-label-361{width:100%;display:flex;align-items:inherit;justify-content:inherit;}
/*! CSS Used from: Embedded */
.MuiInputBase-root-451{color:rgba(0, 0, 0, 0.87);cursor:text;display:inline-flex;position:relative;font-size:1rem;box-sizing:border-box;align-items:center;font-family:Circular;font-weight:400;line-height:1.1876em;}
.MuiInputBase-input-459{font:inherit;color:currentColor;width:100%;border:0;height:1.1876em;margin:0;display:block;padding:6px 0 7px;min-width:0;background:none;box-sizing:content-box;animation-name:mui-auto-fill-cancel;letter-spacing:inherit;animation-duration:10ms;-webkit-tap-highlight-color:transparent;}
.MuiInputBase-input-459::-webkit-input-placeholder{color:currentColor;opacity:0.42;transition:opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;}
.MuiInputBase-input-459::-moz-placeholder{color:currentColor;opacity:0.42;transition:opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;}
.MuiInputBase-input-459:-ms-input-placeholder{color:currentColor;opacity:0.42;transition:opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;}
.MuiInputBase-input-459::-ms-input-placeholder{color:currentColor;opacity:0.42;transition:opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;}
.MuiInputBase-input-459:focus{outline:0;}
.MuiInputBase-input-459:invalid{box-shadow:none;}
/*! CSS Used from: Embedded */
.MuiInput-root-440{position:relative;}
.MuiInput-underline-443:after{left:0;right:0;bottom:0;content:"";position:absolute;transform:scaleX(0);transition:transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;border-bottom:2px solid #2e77d0;pointer-events:none;}
.MuiInput-underline-443:before{left:0;right:0;bottom:0;content:"\00a0";position:absolute;transition:border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;border-bottom:1px solid rgba(0, 0, 0, 0.42);pointer-events:none;}
.MuiInput-underline-443:hover:not(.Mui-disabled):before{border-bottom:2px solid rgba(0, 0, 0, 0.87);}
@media (hover: none){
.MuiInput-underline-443:hover:not(.Mui-disabled):before{border-bottom:1px solid rgba(0, 0, 0, 0.42);}
}
/*! CSS Used from: Embedded */
.MuiSelect-select-563{cursor:pointer;min-width:16px;user-select:none;border-radius:0;-moz-appearance:none;-webkit-appearance:none;}
.MuiSelect-select-563:focus{border-radius:0;background-color:rgba(0, 0, 0, 0.05);}
.MuiSelect-select-563::-ms-expand{display:none;}
.MuiSelect-select-563.MuiSelect-select-563{padding-right:24px;}
.MuiSelect-selectMenu-566{height:auto;overflow:hidden;min-height:1.1876em;white-space:nowrap;text-overflow:ellipsis;}
.MuiSelect-icon-567{top:calc(50% - 12px);color:rgba(0, 0, 0, 0.54);right:0;position:absolute;pointer-events:none;}
.MuiSelect-nativeInput-571{left:0;width:100%;bottom:0;opacity:0;position:absolute;pointer-events:none;}
/*! CSS Used from: Embedded */
.MuiTableCell-root-526{margin:0;display:table-cell;padding:8px;overflow:hidden;font-size:0.875rem;text-align:left;word-break:break-word;font-family:Circular;font-weight:400;line-height:1;border-bottom:0;vertical-align:middle;}
.MuiTableCell-head-527{color:#cccccc;overflow:hidden;word-break:break-word;font-weight:normal;line-height:1;}
.MuiTableCell-body-528{color:rgba(0, 0, 0, 0.87);}
/*! CSS Used from: Embedded */
.MuiTable-root-506{width:100%;display:table;border-spacing:0;border-collapse:collapse;}
/*! CSS Used from: Embedded */
.MuiTableBody-root-552{display:table-row-group;}
/*! CSS Used from: Embedded */
.MuiTableRow-root-509{color:inherit;height:auto;display:table-row;outline:0;vertical-align:middle;}
.MuiTableRow-root-509:not([data-is-virtual]):nth-of-type(even){background-color:#f8f8f8;}
.MuiTableRow-head-511{height:auto;}
.MuiTableRow-head-511:nth-of-type(odd){background-color:#ffffff;}
/*! CSS Used from: Embedded */
.MuiIcon-root-475{width:1em;height:1em;overflow:hidden;font-size:1.5rem;flex-shrink:0;user-select:none;}
/*! CSS Used from: Embedded */
.MuiToolbar-root-428{display:flex;position:relative;align-items:center;}
@media (min-width:600px){
.MuiToolbar-root-428{min-height:44px;}
}
.MuiToolbar-regular-430{min-height:56px;}
@media (min-width:0px) and (orientation: landscape){
.MuiToolbar-regular-430{min-height:48px;}
}
@media (min-width:600px){
.MuiToolbar-regular-430{min-height:64px;}
}
/*! CSS Used from: Embedded */
.MuiInputAdornment-root-466{height:0.01em;display:flex;max-height:2em;align-items:center;white-space:nowrap;}
.MuiInputAdornment-positionStart-468{margin-right:8px;}
/*! CSS Used from: Embedded */
.MuiTableHead-root-508{display:table-header-group;}
/*! CSS Used from: Embedded */
.MuiTableSortLabel-root-546{color:inherit;cursor:pointer;display:inline-flex;align-items:center;flex-direction:inherit;justify-content:flex-start;}
.MuiTableSortLabel-root-546:focus{color:inherit;}
.MuiTableSortLabel-root-546:hover{color:inherit;}
.MuiTableSortLabel-root-546.MuiTableSortLabel-active-547{color:rgba(0, 0, 0, 0.87);}
.MuiTableSortLabel-root-546.MuiTableSortLabel-active-547.MuiTableSortLabel-root-546.MuiTableSortLabel-active-547 .MuiTableSortLabel-icon-548{color:rgba(0, 0, 0, 0.54);opacity:1;}
.MuiTableSortLabel-root-546:hover .MuiTableSortLabel-icon-548{opacity:0.5;}
.MuiTableSortLabel-active-547{color:inherit;font-weight:bold;}
.MuiTableSortLabel-icon-548{opacity:0;font-size:18px;transition:opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;margin-left:4px;user-select:none;margin-right:4px;}
.MuiTableSortLabel-iconDirectionDesc-549{transform:rotate(0deg);}
.MuiTableSortLabel-iconDirectionAsc-550{transform:rotate(180deg);}
/*! CSS Used from: Embedded */
.stajl308{color:#2e77d0;}
.stajl308:hover{color:#4687d6;}
/*! CSS Used from: Embedded */
.stajl427{display:flex;flex-direction:column;}
/*! CSS Used from: Embedded */
.stajl557{display:flex;font-size:0.75rem;align-items:center;font-family:Circular;font-weight:400;line-height:1.66;padding-right:40px;}
.stajl558{padding-right:24px;}
.stajl560{font-size:14px;text-align:right;}
.stajl561{top:2px;}
@media (max-width: 768px){
.stajl558{display:none;}
.stajl557{padding-right:16px;}
}
/*! CSS Used from: Embedded */
.stajl574{margin:0;}
.stajl575{display:block;font-size:0.75rem;font-family:Circular;font-weight:400;line-height:1.66;padding-right:40px;}
.stajl576{min-width:16px;}
.stajl577{cursor:default;font-weight:bold;}
.stajl578{display:inline-block;}
.stajl579{margin-right:0;}
.stajl580{margin-left:0;}
@media (max-width: 768px){
.stajl576{display:none;}
.stajl579{margin-right:8px;}
.stajl580{margin-left:8px;}
.stajl575{padding-right:16px;}
}
/*! CSS Used from: Embedded */
.stajl556{flex:none;display:flex;padding:12px;overflow:hidden;align-items:center;justify-content:flex-end;}
/*! CSS Used from: Embedded */
.stajl502{table-layout:fixed;border-collapse:separate;}
/*! CSS Used from: Embedded */
.stajl612{overflow:hidden;padding-left:8px;padding-right:8px;text-overflow:ellipsis;}
.stajl612:first-child{padding-left:24px;}
.stajl616{white-space:nowrap;}
/*! CSS Used from: Embedded */
.stajl501{width:100%;overflow:auto;flex-grow:1;-webkit-overflow-scrolling:touch;}
/*! CSS Used from: Embedded */
.stajl515{outline:none;overflow:visible;position:relative;padding-left:8px;padding-right:8px;}
.stajl515:first-child{padding-left:24px;}
.stajl524{display:flex;align-items:center;flex-direction:row;}
.stajl525{white-space:nowrap;}
/*! CSS Used from: Embedded */
.stajl541{width:100%;user-select:none;-moz-user-select:none;-webkit-user-select:none;}
.stajl543{max-width:100%;}
.stajl545{color:inherit;}
/*! CSS Used from: Embedded */
.stajl551{overflow:hidden;text-overflow:ellipsis;}
/*! CSS Used from: Embedded */
.stajl538{width:100%;display:flex;min-width:0;align-items:center;flex-direction:row;justify-content:flex-start;}
/*! CSS Used from: Embedded */
.stajl439{color:rgba(0, 0, 0, 0.54);display:flex;align-items:center;}
/*! CSS Used from: Embedded */
.stajl513{text-transform:uppercase;}
/*! CSS Used from: Embedded */
.stajl424 > *{margin-left:8px;}
.stajl424 > *:first-child{margin-left:0;}
.stajl424 > *:last-child{margin-left:auto;}
/*! CSS Used from: Embedded */
.stajl421{border-top:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;background-color:rgba(125,125,125,0.1);}
/*! CSS Used from: Embedded */
.stajl727{width:12px;height:12px;display:inline-block;margin-right:1px;}
.stajl728{border-radius:50%;background-color:#1db954;}
.stajl730{width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:14px solid #e22134;}
.stajl731{background-color:#4687d6;}
/*! CSS Used from: Embedded */
.stajl623{overflow:hidden;text-overflow:ellipsis;}
/*! CSS Used from: Embedded */
a{color:inherit;text-decoration:none;}
/*! CSS Used from: Embedded */
.stajl617{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;}
.stajl618{flex:1;cursor:default;}
.stajl619{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.stajl620{width:auto;height:1em;padding:0;}
.stajl621{font-size:1rem;}
.stajl622{top:-1000px;position:absolute;}
/*! CSS Used keyframes */
/*! CSS Used fontfaces */
@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v80/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');}
@font-face{font-family:Circular;src:url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-light.woff2') format('woff2'),   url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-light.woff') format('woff');font-weight:300;font-style:normal;}
@font-face{font-family:Circular;src:url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-book.woff2') format('woff2'),   url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-book.woff') format('woff');font-weight:400;font-style:normal;}
@font-face{font-family:Circular;src:url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-medium.woff2') format('woff2'),   url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-medium.woff') format('woff');font-weight:500;font-style:normal;}
@font-face{font-family:Circular;src:url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-bold.woff2') format('woff2'),   url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-bold.woff') format('woff');font-weight:700;font-style:normal;}
@font-face{font-family:Circular;src:url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-black.woff2') format('woff2'),   url('https://sp-bootstrap.global.ssl.fastly.net/8.0.0/fonts/circular-black.woff') format('woff');font-weight:900;font-style:normal;}
